 {{> header}}
        <div class="offer-details">
            <h1>{{item.name}}</h1>
            <div class="info">
                <img src="{{item.imageURL}}"
                    alt="">
                <div class="description">{{item.description}}
                    <br>
                    <br>
                    <p class="buyers">Buyers: {{item.count}}</p>
                    <p class="price">${{item.price}}</p>
                </div>
            </div>
            {{#if isCreator}}
            <div class="actions">
                <a href="#/edit/{{item.id}}">Edit</a>
                <a href="#/delete/{{item.id}}">Delete</a>
            {{else}}
                {{#if isAlreadyCounted}}
                <span>You bought it</span>
                {{else}}
                <a href="#/count/{{item.id}}">Buy</a>
                {{/if}}
            </div>
            {{/if}}
        </div>
 {{> footer}}