{{> header}}
<!-- Dashboard Page ( for Guests and Users ) -->
<section id="dashboard-page" class="dashboard">
  <h1>Dashboard</h1>
  <!-- Display ul: with list-items for All pets (If any) -->
  <ul class="other-pets-list">
    {{#each items}}
    <li class="otherPet">
      <h3>Name: {{name}}</h3>
      <p>Type: {{type}}</p>
      <p class="img"><img src="{{imageURL}}"></p>
      <a class="button" href="#/details/{{id}}">Details</a>
    </li>
  <!-- Display paragraph: If there are no pets in the database -->
  {{else}}
  <p class="no-pets">No pets in database!</p>
  {{/each}}
  </ul>
</section>
{{> footer}}