{{> header}}
<!-- Details Page ( for Guests and Users ) -->
<section id="details-page" class="details">
  <div class="pet-information">
    <h3>Name: {{item.name}}</h3>
    <p class="type">Type: {{item.type}}</p>
    <p class="img"><img src="{{item.imageURL}}"></p>
    <div class="actions">
      <!-- Edit/Delete buttons ( Only for creator of this pet )  -->
      {{#if isCreator}}
      <a class="button" href="#/edit/{{item.id}}">Edit</a>
      <a class="button" href="#/delete/{{item.id}}">Delete</a>
      {{else}}

      <!-- Bonus -->
      <!-- Like button ( Only for logged-in users, which is not creators of the current pet ) -->
          {{#if isAuth}}
              {{#if isAlreadyCounted}}
              {{else}}
      <a class="button" href="#/count/{{item.id}}">Like</a>
              {{/if}}
          {{else}}
          {{/if}}
      {{/if}}

      <!-- ( for Guests and Users )  -->
      <div class="likes">
        <img class="hearts" src="/images/heart.png">
        <span id="total-likes">Likes: {{item.count}}</span>
      </div>
      <!-- Bonus -->
    </div>
  </div>
  <div class="pet-description">
    <h3>Description:</h3>
    <p>{{item.description}}</p>
  </div>
</section>
{{> footer}}